{% extends 'WaBackBundle::layout.html.twig' %}

{% block content %}
    <h1>Marque creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('wa_back_marque') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
