{% extends 'WaBackBundle::layout.html.twig' %}

{% block title %}Thanks Feed Back - Application{% endblock %}

{% block content %}
    {{ parent() }}
    {% for message in app.session.flashbag.get('info') %}
        <div class="callout callout-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>{{ message }}</h4>
        </div>
    {% endfor %}
    <h1>Thanks</h1>
    <p>
        Merci pour votre remarque nous vous répondrons dans le plus brefs délais.
    </p>
    <a href="{{ path('wa_back_feedback') }}" class="btn btn-sm btn-info btn-flat pull-left">Retour au formualire de FeedBack</a>
{% endblock %}